<c-card>
    <c-card-header>
        <strong>Usuarios</strong>
        <button cButton [cModalToggle]="registroModal.id" class="float-end" style="color: white;" color="success" (click)="tituloModal = 'Agregar'">
            <svg cIcon name="cilNotes"></svg>
        </button>
        <button cButton class="float-end" style="color: white; margin-right: 5px;" color="info" (click)="obtenerDatos()">
            <svg cIcon name="cilShare"></svg>
        </button>
    </c-card-header>
    <c-card-body>

        <p cCardText>Vista de gestión para administrar información de usuarios.</p>
        <div class="table-responsive">
            <table cTable class="table">
                <thead cTableColor="dark">
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of listaUsuarios">
                    <tr>
                        <td>{{item.nombres}} {{item.apellidos}}</td>
                        <td>{{item.cedula}}</td>
                        <td >{{item.rol_usuario?.rol}}</td>
                        <td>
                            <c-badge color="dark" *ngIf="item.estado == 1">Activo</c-badge>
                            <c-badge color="light" *ngIf="item.estado == 0"
                                style="color: white; background-color: darkgray !important;">Inactivo</c-badge>
                        </td>
                        <td>
                            <button cButton size="sm" color="success" style="margin-right: 5px;" (click)="cargarDatos(item)">
                                <svg cIcon name="cilPencil" title="Numbered List Icon" style="color: white;"></svg>
                            </button>
                            <button cButton size="sm" color="danger"  [cModalToggle]="confirmacionModal.id" (click)="item !== undefined && usuario = item">
                                <svg cIcon name="cilTrash" title="Numbered List Icon" style="color: white;"></svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
        <c-pagination align="center" aria-label="Page navigation example">
            <li cPageItem [disabled]="pagina == 1">
                <a cPageLink (click)="pagina = pagina - 1; obtenerDatos()">Anterior</a>
            </li>
            <li cPageItem *ngFor="let i of [].constructor(totalPaginas); let index = index" [active]="index + 1 == pagina">
                <a cPageLink (click)="pagina = pagina = index + 1; obtenerDatos()">{{index + 1}}</a>
            </li>
            <li cPageItem [disabled]="pagina == totalPaginas">
                <a cPageLink (click)="pagina= pagina + 1; obtenerDatos()">Siguiente</a>
            </li>
        </c-pagination>
    </c-card-body>

</c-card>

<c-modal #registroModal backdrop="static" [visible]="visibleModal" (visibleChange)="handleLiveDemoChange($event)" id="registroModal" size="xl" alignment="center">
    <c-modal-header>
        <h5 cModalTitle>{{tituloModal}} Usuario</h5>
        <button [cModalToggle]="registroModal.id" cButtonClose (click)="limpiarFormulario()"></button>
    </c-modal-header>
    <c-modal-body>
        <form #browserDefaultsForm="ngForm" (ngSubmit)="registrarDatos()" [gutter]="3" [validated]="formularioValido"
            cForm cRow ngNativeValidate>
            <c-col [md]="6">
                <label cLabel for="validationDefault01">Nombres</label>
                <input cFormControl [(ngModel)]="usuario.nombres" id="validationDefault02" autocomplete="off" required type="text" [ngModelOptions]="{standalone: true}"/>
                <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
            </c-col>
            <c-col [md]="6">
                <label cLabel for="validationDefault03">Apellidos</label>
                <input cFormControl [(ngModel)]="usuario.apellidos" id="validationDefault04" autocomplete="off" required type="text" [ngModelOptions]="{standalone: true}"/>
                <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
            </c-col>            
            <c-col [md]="4">
                <label cLabel for="validationDefault05">Cedula</label>
                <input cFormControl [(ngModel)]="usuario.cedula" [ngModelOptions]="{standalone: true}" id="exampleFormControlTextarea1"required rows="3"/>
                <c-form-feedback [valid]="false">Please provide a valid zip.</c-form-feedback>
            </c-col>
            <c-col [md]="4">
                <label cLabel for="validationDefault06">Contraseña</label>
                <input cFormControl type="password" [(ngModel)]="usuario.password" [ngModelOptions]="{standalone: true}" id="exampleFormControlTextarea2"required rows="3"/>
                <c-form-feedback [valid]="false">Please provide a valid zip.</c-form-feedback>
            </c-col>
            <c-col [md]="4">
                <label cLabel for="validationDefault07">Confirmar contraseña</label>
                <input cFormControl type="password" [(ngModel)]="confirmarPass" [ngModelOptions]="{standalone: true}" id="exampleFormControlTextarea3"required rows="3"/>
                <c-form-feedback [valid]="false">Please provide a valid zip.</c-form-feedback>
            </c-col>
            <c-col [md]="4">
                <label cLabel for="validationDefault08">Rol</label>
                <select [(ngModel)]="usuario.idRol" cSelect id="validationDefault09" [ngModelOptions]="{standalone: true}" required>
                    <option *ngFor="let item of listaRoles" [value]="item.idRol">{{item.rol}}</option>
                </select>
                <c-form-feedback [valid]="false">Please provide a valid State.</c-form-feedback>
            </c-col>
            <c-col [md]="6" class="mb-3">
                <label cLabel for="formFile" for="validationDefault10">Imagen</label>
                <input cFormControl id="formFile" type="file" [(ngModel)]="usuario.imagen" [ngModelOptions]="{standalone: true}" id="validationDefault10" required rows="3" (change)="onSelectFile($event)"/>
                <c-form-feedback [valid]="false">Please provide a valid zip.</c-form-feedback>
            </c-col>
            <c-col [md]="2">
                <label cLabel for="validationDefault10">Estado</label>
                <select cSelect id="validationDefault11" [(ngModel)]="usuario.estado" [ngModelOptions]="{standalone: true}" required>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
                <c-form-feedback [valid]="false">Please provide a valid State.</c-form-feedback>
            </c-col>
            <c-col [md]="6">
                <img height="150" class="tamanio" [src]="url" alt=""> <!--Editado-->
            </c-col>

            <hr>
        
            <c-col [xs]="12">
                <div style="float: right;">
                    <button [cModalToggle]="registroModal.id" cButton color="secondary" (click)="limpiarFormulario()"
                    style="margin-right: 10px;">
                        Cancelar
                    </button>
                    <button cButton color="success" type="submit" *ngIf="tituloModal === 'Agregar'">Registrar</button>
                    <button cButton color="success" type="button" *ngIf="tituloModal === 'Editar'" (click)="editarDato()">Editar</button>
                </div>
            </c-col>
        </form>

    </c-modal-body>
</c-modal>

<c-modal #confirmacionModal backdrop="static" alignment="center" id="confirmacionModal" [visible]="visibleModalConfirmacion"
    (visibleChange)="handleChangeConfirmacion($event)">
    <c-modal-header>
        <h5 cModalTitle>Ventana de Confirmación</h5>
        <button [cModalToggle]="confirmacionModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        ¿Desea eliminar el usuario <b>{{usuario.nombres}} {{usuario.apellidos}}</b>?
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="confirmacionModal.id" cButton color="secondary">
            Cancelar
        </button>
        <button cButton color="danger" (click)="eliminarDato()">Aceptar</button>
    </c-modal-footer>
</c-modal>

<c-toaster class="p-3" position="fixed" [placement]="placement" ></c-toaster>