<c-card>
    <c-card-header>
        <strong>Productos</strong>
        <button cButton [cModalToggle]="registroModal.id" class="float-end" style="color: white;" color="success" (click)="tituloModal = 'Agregar'">
            <svg cIcon name="cilNotes"></svg>
        </button>
    </c-card-header>
    <c-card-body>

        <p cCardText>Vista de gestión para administrar información de productos.</p>
        <div class="table-responsive">
            <table cTable class="table">
                <thead cTableColor="dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of listaProductos">
                    <tr>
                        <td>{{item.nombre}}</td>
                        <td>{{item.tipo_producto?.tipo}}</td>
                        <td >{{item.precio}}</td>
                        <td>
                            <c-badge color="dark" *ngIf="item.estado == 1">Activo</c-badge>
                            <c-badge color="light" *ngIf="item.estado == 0"
                                style="color: white; background-color: darkgray !important;">Inactivo</c-badge>
                        </td>
                        <td>
                            <button cButton size="sm" color="success" style="margin-right: 5px;" (click)="cargarDatos(item)">
                                <svg cIcon name="cilPencil" title="Numbered List Icon" style="color: white;"></svg>
                            </button>
                            <button cButton size="sm" color="danger" (click)="item.idProducto !== undefined && eliminarDato(item.idProducto)">
                                <svg cIcon name="cilTrash" title="Numbered List Icon" style="color: white;"></svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
        <c-pagination align="center" aria-label="Page navigation example">
            <li cPageItem [disabled]="true">
                <a cPageLink [routerLink]>Anterior</a>
            </li>
            <li cPageItem>
                <a cPageLink [routerLink]>1</a>
            </li>
            <li cPageItem>
                <a cPageLink [routerLink]>2</a>
            </li>
            <li cPageItem>
                <a cPageLink [routerLink]>3</a>
            </li>
            <li cPageItem>
                <a cPageLink [routerLink]>Siguiente</a>
            </li>
        </c-pagination>
    </c-card-body>

</c-card>

<c-modal #registroModal backdrop="static" [visible]="visibleModal" (visibleChange)="handleLiveDemoChange($event)" id="registroModal" size="xl" alignment="center">
    <c-modal-header>
        <h5 cModalTitle>{{tituloModal}} producto</h5>
        <button [cModalToggle]="registroModal.id" cButtonClose (click)="limpiarFormulario()"></button>
    </c-modal-header>
    <c-modal-body>
        <form #browserDefaultsForm="ngForm" (ngSubmit)="registrarDatos()" [gutter]="3" [validated]="formularioValido"
            cForm cRow ngNativeValidate>
            <c-col [md]="8">
                <label cLabel for="validationDefault01">Nombre</label>
                <input cFormControl [(ngModel)]="producto.nombre" id="validationDefault02" autocomplete="off" required type="text" [ngModelOptions]="{standalone: true}"/>
                <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
            </c-col>
            <c-col [md]="4">
                <label cLabel for="validationDefault03">Precio</label>
                <input cFormControl [(ngModel)]="producto.precio" id="validationDefault04" autocomplete="off" required type="text" [ngModelOptions]="{standalone: true}"/>
                <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
            </c-col>  
            <c-col [md]="6">
                <label cLabel for="validationDefault08">Categoría</label>
                <select [(ngModel)]="categoriaSeleccionada" cSelect id="validationDefault09" [ngModelOptions]="{standalone: true}" (change)="obtenerTipos()" required>
                    <option *ngFor="let item of listaCategorias" [value]="item.idCategoria">{{item.categoria}}</option>
                </select>
                <c-form-feedback [valid]="false">Please provide a valid State.</c-form-feedback>
            </c-col>          
            <c-col [md]="6">
                <label cLabel for="validationDefault10">Tipo</label>
                <select [(ngModel)]="producto.idTipo" cSelect id="validationDefault11" [ngModelOptions]="{standalone: true}" required>
                    <option *ngFor="let item of listaTipos" [value]="item.idTipo">{{item.tipo}}</option>
                </select>
                <c-form-feedback [valid]="false">Please provide a valid State.</c-form-feedback>
            </c-col>   
            <c-col [md]="8">
                <label cLabel for="validationDefault05">Descripcion</label>
                <input cFormControl [(ngModel)]="producto.descripcion" [ngModelOptions]="{standalone: true}" id="exampleFormControlTextarea1"required rows="3"/>
                <c-form-feedback [valid]="false">Please provide a valid zip.</c-form-feedback>
            </c-col>
            <c-col [md]="4">
                <label cLabel for="validationDefault10">Estado</label>
                <select cSelect id="validationDefault11" [(ngModel)]="producto.estado" [ngModelOptions]="{standalone: true}" required>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
                <c-form-feedback [valid]="false">Please provide a valid State.</c-form-feedback>
            </c-col>
            <hr>
        
            <c-col [xs]="12">
                <div style="float: right;">
                    <button [cModalToggle]="registroModal.id" cButton color="secondary" (click)="limpiarFormulario()"
                    style="margin-right: 10px;">
                        Cancelar
                    </button>
                    <button cButton color="success" type="submit" *ngIf="tituloModal === 'Agregar'">Registrar</button>
                    <button cButton color="success" type="button" *ngIf="tituloModal === 'Editar'" (click)="editarDato()">Editar</button>
                </div>
            </c-col>
        </form>

    </c-modal-body>
</c-modal>

<c-toaster class="p-3" position="fixed" [placement]="placement" ></c-toaster>