<c-card>
    <c-card-header>
        <strong>Roles</strong>
        <button cButton class="float-end" style="color: white;" color="info" (click)="obtenerDatos()">
            <svg cIcon name="cilShare"></svg>
        </button>
    </c-card-header>
    <c-card-body>

        <p cCardText>Vista de gestión para administrar información de stocks.</p>
        <div class="table-responsive">
            <table cTable class="table">
                <thead cTableColor="dark">
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Local</th>
                        <th scope="col">Stock</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of listaStocks">
                    <tr>
                        <td>{{item.producto_stock?.nombre}}</td>
                        <td>{{item.producto_stock?.tipo_producto?.tipo}}</td>
                        <td>{{item.local_stock?.nombre}}</td>
                        <td>{{item.stock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      
        <c-pagination align="center" aria-label="Page navigation example">
            <li cPageItem [disabled]="pagina == 1">
                <a cPageLink (click)="pagina = pagina - 1; obtenerDatos()">Anterior</a>
            </li>
            <li cPageItem *ngFor="let i of [].constructor(totalPaginas); let index = index" [active]="index + 1 == pagina">
                <a cPageLink (click)="pagina = pagina = index + 1; obtenerDatos()">{{index + 1}}</a>
            </li>
            <li cPageItem [disabled]="pagina == totalPaginas">
                <a cPageLink (click)="pagina= pagina + 1; obtenerDatos()">Siguiente</a>
            </li>
        </c-pagination>
    </c-card-body>

</c-card>

<c-toaster class="p-3" position="fixed" [placement]="placement" ></c-toaster>