<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Ventas Mensuales realizadas en el año {{year}}</h4>
        <div class="small text-medium-emphasis">Gráfico de ventas mensuales por año.</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" style="color: white;" color="success" [cModalToggle]="filtrarAnualModal.id">
          <svg cIcon name="cilFilter"></svg>
        </button>
      </c-col>
    </c-row>
    <c-chart
    [data]="dataChart"
    type="line"
    [height]="350"
    (chartRef)="handleChartRef($event)">
  </c-chart>
  </c-card-body>
  
</c-card>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Ventas realizadas en Locales
        <button cButton class="float-end" style="color: white;" color="success" size="sm" [cModalToggle]="filtrarLocalesModal.id">
          <svg cIcon name="cilFilter"></svg>
        </button>
      </c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="12" xl="12" xs="12">
            <c-row>
              <c-col sm="6" *ngFor="let local of listaMovimientosLocales; index as i">
                <div
                  [class]="'border-start border-start-4 py-1 px-3 mb-3 border-start-' + colores[i]"
                >
                  <div class="text-medium-emphasis small">{{ local.local_transaccion.nombre }}</div>
                  <div class="fs-5 fw-semibold">$ {{ local.total }}</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <small class="text-medium-emphasis text-nowrap fs-6">Lunes</small>
              </div>
              <div class="progress-group-bars">
                <c-progress thin [height]="15" *ngFor="let local of listaMovimientosLocales; index as i">
                  <c-progress-bar [color]="colores[i]" [value]="obtenerProgreso(local.lunes)" class="fw-bold">$ {{ local.lunes }}</c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <small class="text-medium-emphasis text-nowrap fs-6">Martes</small>
              </div>
              <div class="progress-group-bars">
                <c-progress thin [height]="15" *ngFor="let local of listaMovimientosLocales; index as i">
                  <c-progress-bar [color]="colores[i]" [value]="obtenerProgreso(local.martes)" class="fw-bold">$ {{ local.martes }}</c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <small class="text-medium-emphasis text-nowrap fs-6">Miércoles</small>
              </div>
              <div class="progress-group-bars">
                <c-progress thin [height]="15" *ngFor="let local of listaMovimientosLocales; index as i">
                  <c-progress-bar [color]="colores[i]" [value]="obtenerProgreso(local.miercoles)" class="fw-bold">$ {{ local.miercoles }}</c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <small class="text-medium-emphasis text-nowrap fs-6">Jueves</small>
              </div>
              <div class="progress-group-bars">
                <c-progress thin [height]="15" *ngFor="let local of listaMovimientosLocales; index as i">
                  <c-progress-bar [color]="colores[i]" [value]="obtenerProgreso(local.jueves)" class="fw-bold">$ {{ local.jueves }}</c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <small class="text-medium-emphasis text-nowrap fs-6">Viernes</small>
              </div>
              <div class="progress-group-bars">
                <c-progress thin [height]="15" *ngFor="let local of listaMovimientosLocales; index as i">
                  <c-progress-bar [color]="colores[i]" [value]="obtenerProgreso(local.viernes)" class="fw-bold">$ {{ local.viernes }}</c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <small class="text-medium-emphasis text-nowrap fs-6">Sábado</small>
              </div>
              <div class="progress-group-bars">
                <c-progress thin [height]="15" *ngFor="let local of listaMovimientosLocales; index as i">
                  <c-progress-bar [color]="colores[i]" [value]="obtenerProgreso(local.sabado)" class="fw-bold">$ {{ local.sabado }}</c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <small class="text-medium-emphasis text-nowrap fs-6">Domingo</small>
              </div>
              <div class="progress-group-bars">
                <c-progress thin [height]="15" *ngFor="let local of listaMovimientosLocales; index as i">
                  <c-progress-bar [color]="colores[i]" [value]="obtenerProgreso(local.domingo)" class="fw-bold">$ {{ local.domingo }}</c-progress-bar>
                </c-progress>
              </div>
            </div>
            
            <div class="legend text-center" ngPreserveWhitespaces>
              <small *ngFor="let local of listaMovimientosLocales; index as i">
                <sup>
                  <span [class]="'badge badge-pill badge-sm bg-' + colores[i]">&nbsp;</span>
                </sup>
                <span>{{ local.local_transaccion.nombre }}</span>
                &nbsp;&nbsp;
              </small>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Ventas realizadas por Usuarios
        <button cButton class="float-end" style="color: white;" color="success" size="sm" [cModalToggle]="filtrarUsuariosModal.id">
          <svg cIcon name="cilFilter"></svg>
        </button>
      </c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>Usuario</th>
              <th class="text-center">Compras</th>
              <th class="text-center">Ventas</th>
              <th class="text-center">Ganancia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of listaMovimientosUsuarios; index as i">
              <td class="text-center">
                <!--c-avatar
                  size="md"
                  src="{{ usuario.avatar }}"
                  status="{{ usuario.status }}"
                ></c-avatar-->
              </td>
              <td>
                <div>{{ usuario.usuario_transaccion.nombres }} {{ usuario.usuario_transaccion.apellidos }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    {{ usuario.usuario_transaccion.rol_usuario?.rol }} | Estado: {{ usuario.usuario_transaccion.rol_usuario?.estado === 1 ? 'Activo' : 'Inactivo' }}
                  </span>
                </div>
              </td>
              <td class="text-center">
                <div class="small text-medium-emphasis"></div>
                <div class="text-nowrap">$ {{ usuario.compras }}</div>
              </td>
              <td class="text-center">
                <div class="text-nowrap">$ {{ usuario.ventas }}</div>
              </td>
              <td class="text-center">
                <div class="small text-medium-emphasis"></div>
                <div class="fw-semibold text-nowrap">$ {{ usuario.total }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-toaster class="p-3" position="fixed" [placement]="placement"></c-toaster>

<c-modal #filtrarUsuariosModal backdrop="static" [visible]="visibleModalUsuarios" (visibleChange)="handleChangeUsuarios($event)" id="filtrarUsuariosModal" size="xl" alignment="center">
  <c-modal-header>
      <h5 cModalTitle>Filtrar por rango de Fechas</h5>
      <button [cModalToggle]="filtrarUsuariosModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <form #browserDefaultsForm="ngForm" (ngSubmit)="obtenerDatosMoviminetosUsuarios()" [gutter]="3" [validated]="formularioValido"
          cForm cRow ngNativeValidate>
          <c-col [md]="6">
              <label cLabel for="validationDefault01">Fecha Inicio</label>
              <input cFormControl [(ngModel)]="fechaInicio" id="validationDefault02" autocomplete="off" required type="date" [ngModelOptions]="{standalone: true}"/>
              <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
          </c-col>   
          <c-col [md]="6">
              <label cLabel for="validationDefault10">Fecha Fin</label>
              <input cFormControl [(ngModel)]="fechaFin" id="validationDefault03" autocomplete="off" required type="date" [ngModelOptions]="{standalone: true}"/>
              <c-form-feedback [valid]="false">Please provide a valid State.</c-form-feedback>
          </c-col>      
          <c-col [xs]="12">
              <div style="float: right;">
                  <button [cModalToggle]="filtrarUsuariosModal.id" cButton color="secondary"
                  style="margin-right: 10px;">
                      Cancelar
                  </button>
                  <button cButton color="success" type="submit">Buscar</button>
              </div>
          </c-col>
      </form>

  </c-modal-body>
</c-modal>

<c-modal #filtrarLocalesModal backdrop="static" [visible]="visibleModalLocales" (visibleChange)="handleChangeLocales($event)" id="filtrarLocalesModal" size="lg" alignment="center">
  <c-modal-header>
      <h5 cModalTitle>Filtrar por Semana</h5>
      <button [cModalToggle]="filtrarLocalesModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <form #browserDefaultsForm="ngForm" (ngSubmit)="obtenerDatosMoviminetosLocales()" [gutter]="3" [validated]="formularioValido"
          cForm cRow ngNativeValidate>
          <c-col [md]="8">
              <label cLabel for="validationDefault01">Semana</label>
              <input cFormControl [(ngModel)]="semana" id="validationDefault02" autocomplete="off" required type="week" [ngModelOptions]="{standalone: true}"/>
              <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
          </c-col>        
          <c-col [xs]="12">
              <div style="float: right;">
                  <button [cModalToggle]="filtrarLocalesModal.id" cButton color="secondary"
                  style="margin-right: 10px;">
                      Cancelar
                  </button>
                  <button cButton color="success" type="submit">Buscar</button>
              </div>
          </c-col>
      </form>

  </c-modal-body>
</c-modal>

<c-modal #filtrarAnualModal backdrop="static" [visible]="visibleModalAnual" (visibleChange)="handleChangeAnual($event)" id="filtrarAnualModal" size="lg" alignment="center">
  <c-modal-header>
      <h5 cModalTitle>Filtrar por Año</h5>
      <button [cModalToggle]="filtrarAnualModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <form #browserDefaultsForm="ngForm" (ngSubmit)="obtenerDatosMoviminetosAnual()" [gutter]="3" [validated]="formularioValido"
          cForm cRow ngNativeValidate>
          <c-col [md]="8">
              <label cLabel for="validationDefault01">Año</label>
              <select [(ngModel)]="year" cSelect id="validationDefault09" [ngModelOptions]="{standalone: true}" required>
                <option *ngFor="let item of years" [value]="item">{{item}}</option>
            </select>
            <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
          </c-col>        
          <c-col [xs]="12">
              <div style="float: right;">
                  <button [cModalToggle]="filtrarAnualModal.id" cButton color="secondary"
                  style="margin-right: 10px;">
                      Cancelar
                  </button>
                  <button cButton color="success" type="submit">Buscar</button>
              </div>
          </c-col>
      </form>

  </c-modal-body>
</c-modal>